<div class="nav">
    <a routerLink="/signup"  >SignUP &nbsp;&nbsp;&nbsp;</a>
    <a routerLink="/profile"  >Profile&nbsp;&nbsp;&nbsp;</a>
    <a routerLink="/login" >Login&nbsp;&nbsp;&nbsp;</a>
    <a href="#" routerLinkActive="active current" >Contact&nbsp;&nbsp;&nbsp;</a>
    <button style="width: fit-content;"  (click)="toggleLogin()">{{ isLoggedIn ? 'Logout' : 'Login' }}</button>
    <div class="message">{{logmessage}}</div>
    <input style="width: fit-content;" type="text" placeholder="Search">
  </div>
  